[Unit]
Description=Starts Calibrator Service
After=multi-user.target
StartLimitIntervalSec=0

[Service]
WorkingDirectory=/usr/etc/scada
ExecStart=/usr/bin/scada_calibrator.py
Restart=always
RestartSec=1
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=scada_calibrator
User=root
Group=root

[Install]
WantedBy=multi-user.target