[Unit]
Description=Starts GUI Service
After=multi-user.target
StartLimitIntervalSec=0

[Service]
WorkingDirectory=/usr/etc/scada
ExecStart=/usr/etc/scada/GUI/New_GUI_Test.py
Restart=always
RestartSec=1
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=scada_sorter
User=root
Group=root

[Install]
WantedBy=multi-user.target
